# Java / Maven
target/
*.class
*.jar
*.war
*.log
*.iml
.idea/
.vscode/

# Node
node_modules/
build/
dist/

# Arduino / PlatformIO
.pio/
.piolibdeps/

# MQTT data
mqtt/data/

# Env files
.env
backend/src/main/resources/application.properties
.history/
Frontend/smartiot-frontend/.history/
node_modules/
dist/
build/
**/target/
.idea/
.vscode/
*.iml

